/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%),
		0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

*,
*::before,
**::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: #333;
}

h1,
h2 {
	font-family: 'Rammetto One', sans-serif;
}

article h2 {
	font-family: 'Inter', sans-serif;
}

/* rammetto-one-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Rammetto One';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/rammetto-one-v18-latin-regular.woff2') format('woff2');
}

/* inter-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/inter-v13-latin-regular.woff2') format('woff2');
}
/* inter-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/inter-v13-latin-700.woff2') format('woff2');
}
