---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main
		class="flex-1 w-10/12 mx-auto max-w-lg flex justify-center items-center flex-col gap-2"
	>
		<h1 class="text-2xl font-semibold">404</h1>
		<div class="text-2xl font-semibold">Page not found</div>
		<a
			href="/"
			class="underline decoration-neutral-300 underline-offset-8 transition-colors focus:decoration-neutral-400 hover:decoration-neutral-400 mt-2"
			>Go Back</a
		>
	</main>
</Layout>
