---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Anas Ahmad" description="Oops! Nothing's here.">
  <div
    class="flex-1 -mt-16 w-10/12 h-full flex justify-center items-center flex-col gap-2"
  >
    <h1 class="text-2xl">404</h1>
    <h2 class="text-2xl">Page not found</h2>
  </div>
</Layout>
