---
import Layout from '../layouts/Layout.astro';
import image from '../images/profile-childhood.jpg';
---

<Layout location="about">
  <main class="flex-1 w-10/12 mx-auto max-w-lg">
    <div class="image w-full mt-16">
      <img src={image} alt="" class="mx-auto rounded-lg w-full" />
    </div>
    <h1 class="text-4xl font-bold mt-16">Hi Again, I'm Anas.</h1>
    <div class="about text-lg">
      <p class="mt-8">
        I'm a web developer and computer science and engineering student in
        Purnia, India. I'm interested in technology and learning new things. I
        love new challenges and possibilities that technology has made possibile
        for us.
      </p>
      <p class="mt-8">
        Aside from programming, I like reading and listening to music. Life is
        an unending exploration of possibilites for me.
      </p>
      <p class="mt-8">
        If you want to chat, feel free to <a
          href="mailto: anasahmad0239@gmail.com"
          class="underline underline-offset-4"
        >
          reach out.</a
        >
      </p>
    </div>
  </main>
</Layout>
