---
import BaseHead from "../components/BaseHead.astro";
import IndexHeader from "../components/IndexHeader.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import SocialLinks from "../components/SocialLinks.astro";
import Blog from "../components/Blog.astro";
import Project from "../components/Project.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="max-w-2xl m-auto py-10 px-4 dark:bg-[#333] dark:text-[#fff] selection:bg-[#333] selection:text-[#fff] selection:dark:bg-[#fff] selection:dark:text-[#333]"
    transition:animate="fade"
  >
    <IndexHeader />
    <main class="mt-8">
      <SocialLinks />
      <Project />
      <Blog />
    </main>
    <style>
      h1,
      h2 {
        font-family: "Rammetto One", sans-serif;
      }
    </style>
  </body>
</html>
