---
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/Layout.astro";
const updatedDate = new Date("Nov 17 2023");
---

<Layout
  title="What I'm doing now"
  description="A brief description of what I'm currently upto"
>
  <div class="title">
    <h1>What I'm doing now</h1>
    <div class="date">
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
  </div>
</Layout>
