---
const date = new Date();
const currentYear = date.getFullYear();
---

<footer class="mt-16 px-16">
  <div class="footer-container text-center mx-auto py-16 text-base font-normal">
    Copyright © {currentYear} Anas Ahmad. All rights reserved.
  </div>
</footer>

<style>
  footer {
    background-color: #f1f1f1;
  }
</style>
