---
const { location } = Astro.props;
---

<header class="w-11/12 mx-auto">
	<nav class="max-w-lg mt-5 py-3 text-base mx-auto">
		<div class="text-neutral-600 font-medium">
			<a class="" href="/">anasahmad.dev</a>
		</div>
	</nav>
</header>
