<header>
  <nav
    class="max-w-2xl m-auto flex mt-5 text-center px-7 py-3 text-xl justify-between"
  >
    <div class="font-semibold w-32">
      <a class="decoration-blue-900" href="/">anasahmad.dev</a>
    </div>
    <ul class="w-32">
      <li class="flex gap-6 justify-center">
        <a href="/" class="rounded-full">Work</a>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>
