---
const { location } = Astro.props;
---

<header>
	<nav
		class="max-w-2xl m-auto flex mt-5 text-center px-5 py-3 text-xl justify-center sm:justify-between items-center"
	>
		<div class="font-semibold text-xl hidden sm:block">
			<a class="" href="/">anasahmad.dev</a>
		</div>
		<ul class="flex gap-2 justify-center text-base">
			<li
				class={`w-20 py-2 hover:font-semibold ${
					location === 'work' &&
					'bg-white px-3 font-semibold rounded-xl drop-shadow-sm'
				}`}
			>
				<a href="/" class="">Work</a>
			</li>
			<li
				class={`w-20 py-2 hover:font-semibold ${
					location === 'blog' &&
					'bg-white px-3 font-semibold rounded-xl drop-shadow-sm'
				}`}
			>
				<a href="/blog">Blog</a>
			</li>
			<li
				class={`w-20 py-2 hover:font-semibold ${
					location === 'about' &&
					'bg-white px-3 font-semibold rounded-xl drop-shadow-sm'
				}`}
			>
				<a href="/about">About</a>
			</li>
		</ul>
	</nav>
</header>
