<header>
  <a href="/" class="inline-block">
    <nav
      class="filter-svg w-11 h-11 flex justify-center items-center hover:cursor-pointer hover:bg-[#333] dark:hover:bg-[#fff] rounded-full transition-all"
    >
      <img src="/back.svg" alt="" class="w-6 h-6" />
    </nav>
  </a>
</header>

<style>
  .filter-svg img {
    filter: invert(18%) sepia(5%) saturate(14%) hue-rotate(318deg)
      brightness(95%) contrast(91%);
    transition: all 0.25s ease-out;
  }

  .filter-svg:hover img {
    filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(173deg)
      brightness(105%) contrast(104%);
  }

  @media (prefers-color-scheme: dark) {
    .filter-svg img {
      filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(173deg)
        brightness(105%) contrast(104%);
      transition: all 0.25s ease-out;
    }
    .filter-svg:hover img {
      filter: invert(18%) sepia(5%) saturate(14%) hue-rotate(318deg)
        brightness(95%) contrast(91%);
    }
  }
</style>
