<header>
  <h1 class="text-3xl leading-10">Anas <br /> Ahmad</h1>
  <p class="font-bold mt-4">
    I'm a full-stack developer and CS undergrad student. I love learning and
    problem solving.
  </p>
  <p class="font-bold mt-4">
    Here's what I'm doing <a href="/now" class="underline">now</a>.
  </p>
</header>
