---
const projectsData = [
	{
		title: 'insta-clone',
		description:
			'Full stack project made with mongodb, express, nodejs, and bootstrap',
		code: 'https://github.com/anasahmd/insta-clone',
	},
	{
		title: 'music-player',
		description: 'Play your offline music in browser',
		code: 'https://github.com/anasahmd/music-player',
	},
	{
		title: 'tic-tac-toe',
		description: 'Tic Tac Toe project using javascript',
		code: 'https://github.com/anasahmd/tic-tac-toe',
	},
];
---

<section class="projects max-w-xl m-auto mt-10">
	<h2 class="font-medium text-2xl">Projects</h2>
	<div class="container">
		{
			projectsData.map((project) => (
				<div class="mt-4">
					<a
						href={project.code}
						target="_blank"
						class="underline decoration-neutral-300 underline-offset-4 transition-colors focus:decoration-neutral-400 hover:decoration-neutral-400"
					>
						<span class="font-medium text-lg">{project.title}</span>
					</a>
					<p class="text-lg mt-1">{project.description}</p>
				</div>
			))
		}
	</div>
</section>
