---
import linkedin from '../images/linkedin.svg';
import github from '../images/github.svg';
import twitter from '../images/twitter.svg';
import mail from '../images/mail.svg';
---

<div class="socials">
	<ul class="social-icons flex items-center gap-5 justify-end">
		<li class="social-icon">
			<a aria-label="Email to me" href="mailto: anasahmad0239@gmail.com"
				><img src={mail} alt="Mail Icon" class="w-5 svg-filter" /></a
			>
		</li>

		<li class="social-icon">
			<a aria-label="Github Account" href="https://github.com/anasahmd"
				><img src={github} alt="Github Logo" class="w-5 svg-filter" /></a
			>
		</li>
		<li class="social-icon">
			<a aria-label="Twitter Account" href="https://twitter.com/anas_ahmad35"
				><img src={twitter} alt="Twitter Logo" class="w-5 svg-filter" /></a
			>
		</li>
		<li class="social-icon">
			<a
				aria-label="LinkedIn Account"
				href="https://www.linkedin.com/in/anasahmd/"
				><img src={linkedin} alt="LinkedIn Logo" class="w-5 svg-filter" /></a
			>
		</li>
	</ul>
</div>
