---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="flex flex-col min-h-screen max-w-2xl m-auto py-10 px-4 dark:bg-[#333] dark:text-[#fff] selection:bg-[#333] selection:text-[#fff] selection:dark:bg-[#fff] selection:dark:text-[#333]"
    transition:animate="fade"
  >
    <Header />
    <main>
      <slot />
    </main>
    <style>
      h1,
      h2 {
        font-family: "Rammetto One", sans-serif;
      }
    </style>
  </body>
</html>
